* {
    color: white;  
}
  
html, body {
      min-height: 100vh;
      scroll-behavior: smooth;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

#root {
      min-height: 100vh;
      min-width: 345px;
      margin: 0 auto;
      font-family: Montserrat Alternates;
      line-height: 1.5;
      font-weight: 400;
      background-color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-text-fill-color: #fff;
/* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
background-color: #1b6c3a;
transition: background-color 5000s ease-in-out 0s;
}






#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 0.63rem;
  border: solid 1px var(--text-color-dark);
}

#contact-form textarea {
  height: 12.5rem;
  color: black;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none !important;
}

/* Media Queries */
/* min-width: 768px */
@media (min-width: 768px) {
  #contact-form {
    max-width: 600px;
    margin: auto;
  }

  #contact-form .btn {
    width: 50%;
  }

  #contact-info > div {
    display: flex;
    justify-content: space-around;
  }
  #contact-info .box {
    border-bottom: none;
  }
}
